nav {
  padding: 25.5px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  text-decoration: none;
  color: red;
}

.navmenu {
  display: inline-block;

  margin-right: 72px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: red;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
  /*width: 1280px;
height: 789px;
left: 0px;
top: 78px;*/
}

.content {
  width: 100vw;
  align-items: center;
  margin: auto;
}
.content h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 38px;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 3.299999952316284px;
  text-transform: uppercase;
}
.content p {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 162%;
  letter-spacing: 2.4px;
  color: #373737;
}

.button-centred {
  margin-left: 587px;
  margin-right: 588px;
  margin-top: 84px;
  margin-bottom: 90px;
  /* margin: 66px auto;*/
  padding: 18px 43px;
  display: block;
  border-radius: 4px;
  background-color: red;
  border: none;
  width: 105px;
  height: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

footer {
  text-align: right;
}
.footer-copyright {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: right;
  margin: 40px 105px 29px 713px;
}
